*.lock
*.user
*.cache
*.ncrunchsolution
*.ncrunchproject

.vs
obj
bin
_ReSharper.Caches
/Yolol.IL/nuget-push.ps1
/Benchmark/Properties/PublishProfiles/FolderProfile.pubxml
/Benchmark/Properties/launchSettings.json
